body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

h1, h2 {
    color: #444;
}

.overskrift {
    text-align: center;
    font-size: 3rem;
}

.beholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: #46dadf;
    color: #444;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;

}
button:hover {
    transition: 0.3s;
    background-color: #3fc9ce;
    font-weight:bolder;
}
.prisOppKnapp   {
    width: 100px;
    height: 70px;
}
.prisNedKnapp   {
    width: 100px;
    height: 70px;
}


#solgtTekst {
    color: green;
    font-size: 24px;
}

.skrift {
    text-align: center;
    /* padding: 20px; */
    /* padding-top: 20px; */
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.dapa {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    grid-column: 2;
    margin: 10px;
}
.info {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    grid-column: 1;
    margin: 10px;
}

.lageKnappPlassering {
    text-align: center;
    height: 200px;
}

.Notifikasjonspanel{
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.notifikasjonsstyling {
    margin-top: 70px;
    color: green;
}